{% extends 'base.html.twig' %}

{% block title %} {{ parent }}{% endblock %}

{% block body %}


    <section class="container">
        <div class="row">
            <div class="col-md12 mx-auto" style="width: 565px;">
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    <h2 class="text-center">Connexion</h2>
                    <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                    <label for="inputPassword" class="mt-2">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" required>

                    <input type="hidden" name="_csrf_token"
                        value="{{ csrf_token('authenticate') }}"
                    >
                    <div class="mt-2">
                        <a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié ?</a>
                    </div>
                    
                    <button class="btn btn-dark mt-2 mb-2" type="submit">
                        Connexion
                    </button>
                </form>
            </div>
        </div>
    </section>

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}


{% endblock %}
